html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			br 
			form(action='' method='POST')
				.form-group
					label(for='person_Name') Name
					input#person_Name.form-control(type='text' name='name' placeholder='Name' required='')
					label(for='person_age') Age
					input#person_age.form-control(type='text'  name='age' laceholder='Age' required='') 
					label(for='person_email') Email
					input#person_email.form-control(type='text' name='email' placeholder='Enter email'  required='')
					label(for='person_password') Password
					input#person_password.form-control(type='text' name='password' placeholder='Enter password'  required='')
					label(for='person_status') status
					input#person_status.form-control(type='text' name='status' placeholder='Enter status'  required='')
					br
					input.btn.btn-success(type='submit' value='Susscess')

					a.btn.btn-info(href='/person') Back

